<nav class="navbar sticky-top navbar-expand-lg glass-navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PG Buddy</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/PG">All PG</a>
          <a class="nav-link" href="/PG/new">New PG</a>
          
        </div>
       <div class="navbar-nav ms-lg-auto">
  <% if (typeof currentUser !== 'undefined' && currentUser) { %>
    <p class="nav-item nav-link">Logged in as: <%= currentUser.username %></p>
    <a class="nav-link" href="/logout">Logout</a>
  <% } else { %>
    <p class="nav-item nav-link">No user logged in</p>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
  <% } %>
</div>

      </div>
    </div>
  </nav>